# Dependências
node_modules/

# Build
dist/
build/

# Variáveis de ambiente
.env
.env.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json

# Sistema operacional
.DS_Store
Thumbs.db